<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net451" />
  <package id="MSBuild" version="0.1.2" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net452" />
  <package id="NuGet.Core" version="2.14.0" targetFramework="net451" />
  <package id="FooBar" version="0.2.3.0-gerrit96533-SNAPSHOT" targetFramework="net35" developmentDependency="true" />
</packages>